@model ForgotPasswordViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>بازگردانی رمزعبور</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css">
</head>
<body class="form-membership">

    <!-- begin::preloader-->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->

    <div class="form-wrapper">

        <!-- logo -->
        @*<div id="logo">
            <img class="logo" src="assets/media/image/logo-F.png" alt="image">
            <img class="logo-dark" src="assets/media/image/logo-dark.html" alt="image">
        </div>*@
        <!-- ./ logo -->

        <h5>بازگردانی رمزعبور</h5>

        <!-- form -->
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="text-danger">@ViewData["ErrorMessage"]</div>
            }
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="ایمیل" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">ارسال</button>
       
        </form>
        <!-- ./ form -->

    </div>

    <!-- Plugin scripts -->
    <script src="/vendors/bundle.js"></script>

    <!-- App scripts -->
    <script src="/assets/js/app.min.js"></script>
</body>

</html>