
@{
    ViewData["Title"] = "ido";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <div class="container-fluid d-sm-flex justify-content-between">
            <h4>لیست دانش آموزان</h4>
            <nav aria-label="breadcrumb"/>
                <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">داشبرد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav> -->
        </div>
    </div>
    <div class="container-fluid">
        <!-- اینجا ساخته شود -->
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <br>


                        <label class="form-control-label">تعداد تست  :</label>
                        <input id="state" class="form-control" name="name_state" style="width: 300px;">

                        <label class="form-control-label" style="margin-top: 5px;">زمان مطالعه  :</label>
                        <input id="state" class="form-control" name="name_state" style="width: 300px;">


                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="form-control-label" style="margin-top: 5px;"> توضیحات  :</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-success">ثبت</button>
                        <button type="button" class="btn btn-danger">لغو</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- end::main-content -->

</div>

