
@{
    ViewData["Title"] = "students";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

    <div class="main-content">
        <div class="page-header">
            <div class="container-fluid d-sm-flex justify-content-between">
                <h4>لیست دانش آموزان</h4>
                <nav aria-label="breadcrumb"/>
                    <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">داشبرد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav> -->
            </div>
        </div>
        <div class="container-fluid">

            <div style="margin-bottom: 20px;">
                <button type="button" class="btn btn-success btn-uppercase" data-toggle="modal" data-target="#exampleModal">
                    <i class="ti-check-box mr-2"></i>  ایجاد دانش آموز
                </button>

                <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="">ایجاد دانش آموز</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div>
                                    <label style="margin-bottom: 2px;">نام دانشجو : </label><em style="color: red;"></em>
                                    <input class="form-control" type="text" placeholder=" به طور مثال: علی">
                                    <label style="margin-bottom: 2px;">نام خانوادگی دانشجو : </label><em style="color: red;"></em>
                                    <input class="form-control" type="text" placeholder=" به طور مثال: کریمی">
                                    <label style="margin-bottom: 2px;"> کد ملی  </label><em style="color: red;"></em>
                                    <input class="form-control" type="text" placeholder="*******127">

                                </div>
                                <p style="margin-bottom: 2px;">انتخاب درس : </p>
                                <div>
                                    <select class="select2-example">
                                        <option>انتخاب پایه</option>
                                        <option value="France">پایه اول  </option>
                                        <option value="Brazil">پایه دوم  </option>
                                        <option value="Yemen">  پایه سوم  </option>
                                        <option value="United States">پایه چهارم </option>
                                        <option value="China">پایه پنجم </option>
                                        <option value="Argentina">پایه ششم </option>
                                        <option value="Bulgaria">پایه هفتم</option>
                                    </select>
                                </div>
                                <div class="form-group wd-xs-300">
                                    <div class="valid-feedback">
                                        عالی!
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                            <button type="button" class="btn btn-primary">اعمال تغییرات</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover bg-white text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام وظیفه</th>
                            <th scope="col">توضیحات وظیفه </th>
                            <th scope="col">لیست افراد</th>
                            <th scope="col">مدیریت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>وظیفه یک</td>
                            <td>توضیحات یک</td>
                            <td><a href="#">نمایش</a></td>
                            <td>
                                <button type="button" class="btn btn-primary" title="ویرایش" data-toggle="tooltip" data-placement="bottom">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <!-- مودال ویرایش اطلاعات -->

                                </button>
                                <button type="button" class="btn btn-primary" title="حذف" data-toggle="tooltip" data-placement="bottom">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="جزئیات" data-toggle="tooltip" data-placement="bottom" style="padding-right: 20px; padding-left: 20px;">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>وظیفه دو</td>
                            <td>توضیحات دو</td>
                            <td><a href="#">نمایش</a></td>
                            <td>
                                <button type="button" class="btn btn-primary" title="ویرایش" data-toggle="tooltip" data-placement="bottom">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <!-- مودال ویرایش اطلاعات -->

                                </button>
                                <button type="button" class="btn btn-primary" title="حذف" data-toggle="tooltip" data-placement="bottom">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="جزئیات" data-toggle="tooltip" data-placement="bottom" style="padding-right: 20px; padding-left: 20px;">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>وظیفه سه</td>
                            <td>توضیحات سه</td>
                            <td><a href="#">نمایش</a></td>
                            <td>
                                <button type="button" class="btn btn-primary" title="ویرایش" data-toggle="tooltip" data-placement="bottom">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <!-- مودال ویرایش اطلاعات -->

                                </button>
                                <button type="button" class="btn btn-primary" title="حذف" data-toggle="tooltip" data-placement="bottom">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="جزئیات" data-toggle="tooltip" data-placement="bottom" style="padding-right: 20px; padding-left: 20px;">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

