@model CreateTask

@{
    ViewData["Title"] = "CreateTask";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

<div class="main-content">

    <div class="container-fluid">

        <div class="card-body">
            <h5 class="card-title"> ایجاد وظیفه</h5>
            <form class="needs-validation" novalidate asp-action="CreateTask" asp-controller="Consultant" method="post">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip01" asp-for="Gradeid"> پایه:</label>
                        <select asp-for="Gradeid"  asp-items="ViewBag.Grade" class="form-control" ></select>
                      
                    </div>
                    <div class="col-md-4 mb-3">

                        <label asp-for="courseid" class="control-label">درس:</label>
                        <select asp-for="courseid" class="form-control" asp-items="ViewBag.course" style="width:30%"></select>
                    </div>
                  


                    @*<select asp-for=""></select>*@

                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip01"> مبحث </label>
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="مبحث" value="" required asp-for="Subject">
                        <div class="valid-tooltip">
                            عالی!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationTooltip03">توضیحات</label>
                        <input type="text" class="form-control" id="validationTooltip03" placeholder="شرح وظیفه" required asp-for="Descibtion" />
                        <div class="invalid-tooltip">
                            شرح وظیفه را وارد کنید.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                   
                    <div class="col-md-3 mb-3">
                        <label for="validationTooltip04">زمان</label>
                        <input type="number" class="form-control" id="validationTooltip04" placeholder="زمان مطالعه" asp-for="TimeStudy" required>
                        <div class="invalid-tooltip">
                            زمان مطالعه را مشخص کنید
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationTooltip05">تاریخ</label>
                        <persian-date  asp-for="SendDelivery"></persian-date>
                        <div class="invalid-tooltip">
                            لطفا یک تاریخ معتبر انتخاب کنید
                        </div>
                    </div>
            
                </div>
                <button class="btn btn-primary" type="submit">ارسال</button>

            </form>
        </div>
        <!-- end::main-content -->
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover bg-white text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> نوضیحات  </th>
                            <th scope="col">  زمان مطالعه </th>
                            <th scope="col">مبحث</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tasks)
                        {
                            <tr>

                                <td> @item.Descibtion</td>
                                <td>
                                  @item.TimeStudy
                                </td>
                                <td>
                                    @item.Subject
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
