
@{
    ViewData["Title"] = "OnlinePaymentA";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

<div class="main-content">

    <div class="container-fluid">

        <div class="alert alert-success " role="alert" style="margin-top: 50px;">
            <p>پرداخت موفقیت آمیز بود</p>
            <h1>کد پیگیری @ViewBag.code</h1>
        </div>
    </div>
    <!-- end::main-content -->

</div>

