@model IEnumerable< consultantpanel>
@{
    ViewData["Title"] = "PanelConsultant";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}
<div class="main-content">
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>شرح وظایف دانش آموز</h4>

    </div>
</div>
</div>
<div class="container-fluid">
    @foreach (var item in Model)
    {
        @foreach (var items in item.Panel)
        {
            <div class="col-md-3">
                <div class="card text-white bg-primary">
                    <div class="card-header">پنل @items.Day روزه</div>
                    <div class="card-body">
                        <h5 class="card-title">قیمت: @items.Price</h5>
                        <a asp-action="Peyment" asp-controller="Consultant" class="btn btn-success" asp-route-id="@items.ID">پرداخت</a>
                    </div>
                </div>
            </div>
        }

    }

</div>
