
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

<div class="main-content">


    <div class="page-header">
        <div class="container-fluid d-sm-flex justify-content-between">
            <h4>    گزارش ماهانه </h4>
        </div>
    </div>
    <div class="container-fluid">
        <!-- اینجا ساخته شود -->



        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover bg-white text-center">
                    <thead class="thead-dark">
                        <tr>

                            <th scope="col">نام درس</th>
                            <th scope="col">  زمان تخصیص داده شده توسط مشاوره  </th>
                            <th scope="col">زمان انجام شده توسط دانش آموز  </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>



                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <!-- end::main-content -->

    </div>
</div>

