@model StudentsViewModel
@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_LayoutConsultant.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <div class="container-fluid d-sm-flex justify-content-between">
            <h4>لیست دانش آموزان غیر فعال</h4>
            <nav aria-label="breadcrumb" />
            <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">داشبرد</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav> -->
        </div>
    </div>
    <div class="container-fluid">

    
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover bg-white text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">نام </th>
                            <th scope="col"> نام خانوادگی </th>
                            <th scope="col"> کد ملی </th>
                            <th scope="col">مدیریت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Students)
                        {
                            if (item.State==false)
                            {
                                <tr>

                                    <td> @item.Name</td>
                                    <td> @item.Family</td>
                                    <td>@item.NationalCode</td>
                                    <td>
                                        <a class="btn btn-primary" title="ایجاد پنل" data-toggle="tooltip" data-placement="bottom" asp-action="AddPanel" asp-controller="Consultant" asp-route-id="@item.Id"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                                        @*<button type="button" class="btn btn-primary" title="ویرایش" data-toggle="tooltip" data-placement="bottom">*@
                                        @*<i class="fa fa-pencil-square-o" aria-hidden="true"></i>*@
                                        <!-- مودال ویرایش اطلاعات -->
                                        @*</button>*@
                                      
                                    </td>
                                </tr>

                            }

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>

