@model WebPlatformV1.Models.DbContext.Tbl_Comision
@{
    ViewData["Title"] = "ComisionManagement";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="main-content">
        <div class="page-header">
            <div class="container-fluid d-sm-flex justify-content-between">
                <h4>  مدیریت میزان کمیسیون ها</h4>
            </div>
        </div>
        <div class="container-fluid">
            <!-- اینجا ساخته شود -->

            <h1>کمیسیون</h1><h3>@Model.percent</h3>
            <h1>هزینه ثبت نام</h1><h3>@Model.price</h3>



            <!-- end::main-content -->

        </div>
    </div>
