@model Panel
@{
    ViewData["Title"] = "MyPanel";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}



<div class="main-content">
    <div class="page-header">
        <div class="container-fluid d-sm-flex justify-content-between">
            <h4>پنل پرداختی شما</h4>
            <nav aria-label="breadcrumb" />
            <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">داشبرد</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav> -->
        </div>
    </div>
    <div class="container-fluid">
 
        @if (ViewBag.hasconsultant != null)
        {

            <div class="alert alert-danger " role="alert" style="margin-top: 50px;">
                <p>شما تحت پوشش یک مشاور قرار دارید</p>
                <a class="btn btn-success" asp-action="DeleteConsultant" asp-controller="Student">حذف مشاور</a>
            </div>

        }

        <div class="row">
            @if (Model.Panel1 != null)
            {
                @if (Model.Panel1.Status == false)
                {
                    <div class="table-responsive">
                        <table class="table table-hover bg-white text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">تعداد روز اعتبار </th>
                                    <th scope="col"> مبلغ پرداختی </th>
                                    <th scope="col"> مبلغ پرداختی به ازای هر روز </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td>@Model.Panel1.Day </td>
                                    <td> @Model.Panel1.Price</td>
                                    <td>@Model.price</td>
                                    <td>
                                        <a class="btn btn-primary" title="ایجاد پنل" data-toggle="tooltip" data-placement="bottom" asp-action="Peyment" asp-controller="student"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                        @*<button type="button" class="btn btn-primary" title="ویرایش" data-toggle="tooltip" data-placement="bottom">*@
                                        @*<i class="fa fa-pencil-square-o" aria-hidden="true"></i>*@
                                        <!-- مودال ویرایش اطلاعات -->
                                        @*</button>*@

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>
                        شما پنلی برای پرداخت ندارید
                    </p>
                }
            }


        </div>
    </div>



</div>



